{
    "openapi": "3.0.0",
    "info": {
        "title": "Opendatabot API",
        "description": "Opendatabot — платформа для роботи з відкритими державними даними. Наше API надає актуальні дані з Єдиного реєстру підприємств та організацій, судового реєстру, реєстр виконавчих проваджень, реєстру податкових боргів, розкладу судових засідань, реєстру податкових боргів, реєстру платників ПДВ та інших.<br><br>Ми вирішуємо задачі з перевірки та контролю контрагентів, моніторингу судових справ та судових засідань, перевірки персоналу, отримання нових клієнтів для вашого бізнесу.<br><br>Наша мета — надання даних та сервісів для будь-якого програмного забезпечення в Україні. Для доступу пишіть нам на <a href='mailto:mail@opendatabot.com?subject=API'>mail@opendatabot.com</a> та вкажіть для якого проекту плануєте використання.",
        "contact": {
            "email": "mail@opendatabot.com"
        },
        "version": "3.0"
    },
    "servers": [
        {
            "url": "https://opendatabot.com/api/v3/",
            "description": "https://opendatabot.com/"
        }
    ],
    "paths": {
        "/amcu": {
            "get": {
                "tags": [
                    "Антимонопольний комітет України"
                ],
                "summary": "Пошук рішень Антимонопольного комітету України",
                "description": "Отримання інформації про рішення Антимонопольного комітету України (АМКУ)",
                "operationId": "getAmcu",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "searchKeys",
                        "in": "query",
                        "description": "Поля для пошуку рішень АМКУ (можливі значення: code, name або обидва через кому)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "code",
                                "name",
                                "code,name"
                            ]
                        }
                    },
                    {
                        "name": "searchQuery",
                        "in": "query",
                        "description": "Запит для пошуку рішень АМКУ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sortKeys",
                        "in": "query",
                        "description": "Ключі для сортування результатів",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "date"
                        }
                    },
                    {
                        "name": "sortDirection",
                        "in": "query",
                        "description": "Напрям сортування (ASC або DESC)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "DESC",
                            "enum": [
                                "ASC",
                                "DESC"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Обмеження кількості результатів",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 100
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Зсув для отримання результатів",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/amcuResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "500": {
                        "description": "Try later/Count is too many"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/full-penalty-doc-check/{number}": {
            "get": {
                "tags": [
                    "Виконавчі провадження"
                ],
                "summary": "Інформація про виконавче впровадження",
                "description": "Отримання інформації про історію виконавчих проваджень компанії або приватної особи за номером провадження та ідентифікатором доступу з його аналізом",
                "operationId": "getFullPenaltyDocCheck",
                "parameters": [
                    {
                        "name": "number",
                        "in": "path",
                        "description": "Номер виконавчого провадження",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "secret",
                        "in": "query",
                        "description": "Ідентифікатор доступу",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "Ключ доступу до API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/penaltyResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "404": {
                        "description": "Record not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "502": {
                        "description": "ERR_WAITING_SERVER_TO_START"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/task/{id}": {
            "get": {
                "tags": [
                    "Обробка файлів"
                ],
                "summary": "Отримання статусу задачі",
                "description": "Метод для отримання інформації про стан задачі обробки за її activity ID.",
                "operationId": "getTask",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Ідентифікатор задачі",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "682-295f403387a39ede70be6cccb1dc2008"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Успішне отримання даних задачі",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "activityId": {
                                            "type": "string",
                                            "example": "123456"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "link": {
                                            "type": "string",
                                            "example": "https://opendatabot.ua/data/table_files/input_files/168/example.csv"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Задачу не знайдено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "code": {
                                            "type": "string",
                                            "example": "404"
                                        },
                                        "raeson": {
                                            "type": "string",
                                            "example": "Activity not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Неправильний запит (наприклад, відсутній ID)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "code": {
                                            "type": "string",
                                            "example": "400"
                                        },
                                        "raeson": {
                                            "type": "string",
                                            "example": "Activity id is required"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/task": {
            "post": {
                "tags": [
                    "Обробка файлів"
                ],
                "summary": "Завантаження файлу для обробки",
                "description": "Метод для завантаження CSV-файлу та створення нової задачі обробки даних.",
                "operationId": "uploadTask",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "file",
                                    "type",
                                    "apiKey"
                                ],
                                "properties": {
                                    "file": {
                                        "description": "CSV-файл для обробки",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "type": {
                                        "description": "Тип задачі:\n     *                         `23` - Скоринг компанії,\n     *                         `24` - Скоринг людини",
                                        "type": "string",
                                        "enum": [
                                            "COMPANY_SCORING",
                                            "PEOPLE_SCORING"
                                        ]
                                    },
                                    "apiKey": {
                                        "description": "API-ключ для авторизації",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Успішне створення задачі",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "ok"
                                        },
                                        "activityId": {
                                            "type": "string",
                                            "example": "123456"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Неправильний запит (помилки у вхідних даних)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "code": {
                                            "type": "string",
                                            "example": "400"
                                        },
                                        "raeson": {
                                            "type": "string",
                                            "example": "Type is required"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Неавторизований доступ"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/full-company/{code}": {
            "get": {
                "tags": [
                    "Компанії та ФОП"
                ],
                "summary": "Повна інформація за кодом ЄДРПОУ",
                "description": "Отримання повної інформаціі за кодом ЄДРПОУ",
                "operationId": "fullcompany",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "code",
                        "in": "path",
                        "description": "код ЄДРПОУ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FullcompanyV3"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "404": {
                        "description": "Company not found"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/companies/{founder}": {
            "get": {
                "tags": [
                    "Компанії та ФОП"
                ],
                "summary": "Інформація за власником компанії",
                "description": "Отримання інформаціі за власником компанії",
                "operationId": "companyFoundersSuccess",
                "parameters": [
                    {
                        "name": "founder",
                        "in": "path",
                        "description": "власник компанії",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ruFounders",
                                "byFounders",
                                "irFounders"
                            ]
                        }
                    },
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Статус",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "зареєстровано",
                                "зареєстровано, свідоцтво про державну реєстрацію недійсне",
                                "порушено справу про банкрутство",
                                "порушено справу про банкрутство (санація)",
                                "в стані припинення",
                                "припинено",
                                "скасовано"
                            ]
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Зміщення відносно початку результатів пошуку",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Кількість записів",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/companyFoundersSuccess"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Companies not found"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/companies": {
            "get": {
                "tags": [
                    "Компанії та ФОП"
                ],
                "summary": "Пошук компаній за КАТОТТГ",
                "description": "Отримання переліку компаній за КАТОТТГ, видом діяльності та сортування за виторгом, персоналом та видом діяльностю.",
                "operationId": "companiesGetByFilter",
                "parameters": [
                    {
                        "name": "katotg",
                        "in": "query",
                        "description": "КАТОТТГ (UA12312312312312,UA86569053214567,UA44557764321236)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "activities",
                        "in": "query",
                        "description": "Номер виду діяльності (46,47)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "registrationDateFrom",
                        "in": "query",
                        "description": "Фільтрує компанії, зареєстровані після або на дату, вказану в цьому параметрі, (формат YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "registrationDateTo",
                        "in": "query",
                        "description": "Фільтрує компанії, зареєстровані до або на дату, вказану в цьому параметрі, (формат YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "Компанії зі статусом 'зареєстровано'",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "capitalFrom",
                        "in": "query",
                        "description": "Статутний капітал **більше або рівний** вказаної суми (грн)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "revenueFrom",
                        "in": "query",
                        "description": "Виручка компанії **більше або рівний** вказаної суми (грн)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "profitFrom",
                        "in": "query",
                        "description": "Чистий прибуток **більше або рівний** вказаної суми (грн)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "isGOV",
                        "in": "query",
                        "description": "Тип власності: `true` — державне підприємство (OLF-код = 140), `false` — недержавна структура",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "hasRF",
                        "in": "query",
                        "description": "`true` — компанія має зв’язок із РФ (засновники / бенефіціари / керівництво)",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "hasBY",
                        "in": "query",
                        "description": "`true` — компанія має зв’язок із РБ (засновники / бенефіціари / керівництво)",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "landOwnerFrom",
                        "in": "query",
                        "description": "Кількість земельних ділянок **у власності** — більше або рівний вказаного числа",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "landRentFrom",
                        "in": "query",
                        "description": "Кількість земельних ділянок **в оренді** — більше або рівний вказаного числа",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "beneficiariesCountry",
                        "in": "query",
                        "description": "Країна бенефіціара — компанія має хоча б одного бенефіціара з перелічених країн (можна передавати кілька значень через кому або коди країн)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "licenses",
                        "in": "query",
                        "description": "Наявність певної ліцензії. Допустимі значення: `medicalLicenses`, `financeLicenses`, `energyLicenses`, `gamingLicenses`, `securityLicenses`, `weaponLicenses`, `collectors`, `diiaCity` (передавайте через кому для кількох ліцензій)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "winTendersCountFrom",
                        "in": "query",
                        "description": "Кількість виграних тендерів **більше або рівний** вказаного числа",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "winTendersAmountFrom",
                        "in": "query",
                        "description": "Загальна сума виграних тендерів (грн) **більше або рівний** вказаної суми",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sortField",
                        "in": "query",
                        "description": "Сортування за полем",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "revenue",
                                "employees",
                                "registrationDate"
                            ]
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Зміщення відносно початку результатів пошуку",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Кількість записів",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sortOrder",
                        "in": "query",
                        "description": "Порядок відображення записів",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/companiesGetByFilter"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Companies not found"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/war-partners": {
            "get": {
                "tags": [
                    "Компанії та ФОП"
                ],
                "summary": "Інформація за власниками компаній, що належать до країни, які підтримують військову агресію проти України",
                "description": "Отримання інформаціі власниками компаній",
                "operationId": "warPartners",
                "parameters": [
                    {
                        "name": "country",
                        "in": "query",
                        "description": "країна агрессор",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ru",
                                "by",
                                "ir"
                            ]
                        }
                    },
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Зміщення відносно початку результатів пошуку",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Кількість записів",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/warPartners"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "War partners not found"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/company-sanctions": {
            "get": {
                "tags": [
                    "Компанії та ФОП"
                ],
                "summary": "Пошук компаній у списку санкцій",
                "description": "Отримання інформації про компанії, що знаходяться у списку санкцій",
                "operationId": "companySanctions",
                "parameters": [
                    {
                        "name": "searchKeys",
                        "in": "query",
                        "description": "Поля для пошуку компаній (можливі значення: code, name або обидва через кому)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "code",
                                "name",
                                "code,name"
                            ]
                        }
                    },
                    {
                        "name": "searchQuery",
                        "in": "query",
                        "description": "Запит для пошуку Компаній",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sactionList",
                        "in": "query",
                        "description": "Перелік санкцій",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "API ключ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Кількість записів на сторінці",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Позиція початку виводу",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/companySanctionsSuccess"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/search/companies-by-field": {
            "get": {
                "tags": [
                    "Компанії та ФОП"
                ],
                "summary": "Пошук коду компанії за обраним параметром",
                "description": "Отримати код компаній за одним із обраних параметрів",
                "operationId": "companyCodeSearch",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "field",
                        "in": "query",
                        "description": "поле для пошуку",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "full_name",
                                "short_name",
                                "name",
                                "location",
                                "phone",
                                "ceo_name",
                                "beneficiaries",
                                "founders",
                                "old_full_name",
                                "old_ceo_name",
                                "old_beneficiaries",
                                "old_founders"
                            ]
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "Компанії зі статусом 'зареєстровано'",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": true
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Пошуковий запит",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Кількість записів",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Зміщення",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "partial",
                        "in": "query",
                        "description": "Включає пошук за частковим збігом слів у значеннях",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/getCompanyCodeSuccess"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "500": {
                        "description": "Try later/Count is too many"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/court-status": {
            "get": {
                "tags": [
                    "Судовий реєстр"
                ],
                "summary": "Отримання статусів судових справ",
                "description": "Отримання статусів судових справ",
                "operationId": "courtStatus",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "case_number",
                        "in": "query",
                        "description": "Пошук за номером справи",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "text_involved",
                        "in": "query",
                        "description": "Пошук за стороною",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date_from",
                        "in": "query",
                        "description": "Фільтр за датою події, (формат YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date_to",
                        "in": "query",
                        "description": "Фільтр за датою події, (формат YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Кількість записів",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Зміщення",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Порядок сортування (asc|desc)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ASC",
                                "DESC"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/court_status_success"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/declarants/{id}": {
            "get": {
                "tags": [
                    "Деклараціі"
                ],
                "summary": "Пошук декларанта за його ідентифікатором",
                "description": "Отримати данні декларанта по роках за його ідентифікатором",
                "operationId": "getDeclarant",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Ідентифікатор декларанта",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/getDeclarantResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "500": {
                        "description": "Try later/Count is too many"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/declarants": {
            "get": {
                "tags": [
                    "Деклараціі"
                ],
                "summary": "Пошук декларанта за прізвищем, ім'ям, по батькові",
                "description": "Отримати декларантів за прізвищем, ім'ям, по батькові",
                "operationId": "getDeclarants",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pib",
                        "in": "query",
                        "description": "Прізвище, ім'я, по батькові",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "onlyDeclarants",
                        "in": "query",
                        "description": "Показати тільки декларантів (true або 1)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/getDeclarantsResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "500": {
                        "description": "Try later/Count is too many"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/drorm": {
            "get": {
                "tags": [
                    "ДРОРМ"
                ],
                "summary": "Інформація з ДРОРМ",
                "description": "Отримати інформацію з ДРОРМ",
                "operationId": "drorm",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "number",
                        "in": "query",
                        "description": "державний номер транспортного засобу",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "код ЄДРПОУ або код ІПН",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/drorm_success"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "500": {
                        "description": "Try later/Count is too many"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/drorm/{objectId}": {
            "get": {
                "tags": [
                    "ДРОРМ"
                ],
                "summary": "Замовлення витягу за об’єктом обтяження",
                "description": "Замовити витяг за об’єктом обтяження",
                "operationId": "drorm-object",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "Ідентифікатор об'єкту",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/drorm_object_success"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "500": {
                        "description": "Try later/Count is too many"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/drorm-result": {
            "get": {
                "tags": [
                    "ДРОРМ"
                ],
                "summary": "Отримання витягу за об’єктом обтяження",
                "description": "Отримати витяг за об’єктом обтяження",
                "operationId": "drorm-result",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "activity_id",
                        "in": "query",
                        "description": "Ідентифікатор пошуку за результатом витягу",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/drorm_result_success"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "500": {
                        "description": "Try later/Count is too many"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/oneFine/{docId}": {
            "get": {
                "tags": [
                    "Інформація про авто"
                ],
                "summary": "Інформація по штрафу за його номером",
                "description": "Отримати інформацію по штрафу",
                "operationId": "fine",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "docId",
                        "in": "path",
                        "description": "Номер штрафу",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/one_fine_success"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Try later"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/history": {
            "get": {
                "tags": [
                    "Моніторинг"
                ],
                "summary": "Отримання історії змін по підписках",
                "description": "Отримання історії змін по підписках",
                "operationId": "historyV3",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "from_id",
                        "in": "query",
                        "description": "Початковий notification_id пошуку",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "subscription_id",
                        "in": "query",
                        "description": "Фільтрація по subscription_id історії змін",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Зміщення відносно початку результатів пошуку",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Кількість записів",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date_start",
                        "in": "query",
                        "description": "Фільтр за датою початку події (event_date) у форматі Y-m-d",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date_end",
                        "in": "query",
                        "description": "Фільтр за датою закінчення події (event_date) у форматі Y-m-d",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "debug",
                        "in": "query",
                        "description": "Режим тестування",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Тип повідомлення",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "agroVoucher",
                                "aliment",
                                "amcu_decision",
                                "audit",
                                "bankruptcy",
                                "cancel_document",
                                "corporate",
                                "court",
                                "court_status",
                                "debt",
                                "drorm",
                                "drorm_company",
                                "drorm_object",
                                "edr_fop_inn",
                                "entrepreneur",
                                "financial_statement_report",
                                "fine",
                                "fineInform",
                                "fines-collection",
                                "fop_check",
                                "involved",
                                "involved2sides",
                                "legal",
                                "new_court_defendant",
                                "new_court_plaintiff",
                                "new_penalty_borrower",
                                "new_penalty_creditor",
                                "new_penalty_document",
                                "penalty",
                                "penalty_document",
                                "person_aliment",
                                "person_beneficiary",
                                "person_corrupt_officials",
                                "person_declaration",
                                "person_founder",
                                "person_ceo_name",
                                "prozorro",
                                "prozorro_new",
                                "prozorroSales",
                                "realty",
                                "realty_object",
                                "realty-by-role",
                                "realtyMonitoring",
                                "sanction",
                                "session",
                                "setam",
                                "singletax",
                                "subscriptionStatus",
                                "vat",
                                "wagedebt",
                                "wanted",
                                "wim"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/historyV3Success"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "500": {
                        "description": "Try later/Count is too many"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/duplicate-notification/{notificationId}": {
            "get": {
                "tags": [
                    "Моніторинг"
                ],
                "summary": "Створення копії повідомлення",
                "description": "Стоврити копію повідомлення",
                "operationId": "duplicateV3",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "notificationId",
                        "in": "path",
                        "description": "Id повідомлення",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/duplicateV3Success"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "500": {
                        "description": "Try later/Count is too many"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/land/{cadastralNumber}": {
            "get": {
                "tags": [
                    "Земля"
                ],
                "summary": "Інформація про земельну ділянку",
                "description": "Отримати повну інформацію про земельну ділянку за кадастровим номером",
                "operationId": "getLand",
                "parameters": [
                    {
                        "name": "cadastralNumber",
                        "in": "path",
                        "description": "Кадастровий номер",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/landResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "500": {
                        "description": "Try later/Count is too many"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/notary": {
            "get": {
                "tags": [
                    "Нотаріуси України"
                ],
                "summary": "Пошук нотаріусів України",
                "description": "Перелік нотаріусів, які працюють у військовий час в Україні за ПІБ",
                "operationId": "getNotary",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pib",
                        "in": "query",
                        "description": "ПІБ, за яким здійснюється пошук",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/notaryResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "500": {
                        "description": "Try later/Count is too many"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/passport-types": {
            "get": {
                "tags": [
                    "Паспорти"
                ],
                "summary": "Інформація про типи паспортів",
                "description": "Отримання інформації про типи паспортів",
                "operationId": "passportTypes",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/passportTypesResponse"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                }
            }
        },
        "/pep": {
            "get": {
                "tags": [
                    "Національні публічні діячі"
                ],
                "summary": "Пошук національних публічних діячів",
                "description": "Отримати дані національних публічних діячів за ПІБ",
                "operationId": "getPep",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pib",
                        "in": "query",
                        "description": "ПІБ, за яким здійснюється пошук",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/pepResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "500": {
                        "description": "Try later/Count is too many"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/person": {
            "get": {
                "tags": [
                    "Фізичні особи"
                ],
                "summary": "Публічна інформація особи",
                "description": "Отримання публічної інформації щодо особи, за її ПІБ",
                "operationId": "person",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pib",
                        "in": "query",
                        "description": "ПІБ особи",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/region_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/personResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "500": {
                        "description": "Try later/Count is too many"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/person-by-ipn/{code}": {
            "get": {
                "tags": [
                    "Фізичні особи"
                ],
                "summary": "Інформація у реєстрах за ідентифікаційним кодом",
                "description": "Отримати інформацію за ідентифікаційним кодом",
                "operationId": "personInn",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "scope",
                        "in": "query",
                        "description": "Реєстри в яких потрібно зробити запит. (realty,fop,bankruptcy,drorm,penalty)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "code",
                        "in": "path",
                        "description": "ідентифікаційний код",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "userName",
                        "in": "query",
                        "description": "ПІБ користувача, для отримання даних за нерухомістю",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "userCode",
                        "in": "query",
                        "description": "ідентифікаційний код користувача, для отримання даних за нерухомістю",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/personInnResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "500": {
                        "description": "Try later/Count is too many"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/person/{personId}": {
            "get": {
                "tags": [
                    "Фізичні особи"
                ],
                "summary": "Публічна інформація особи",
                "description": "Отримання публічної інформації щодо особи, за її personId",
                "operationId": "personId",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "personId",
                        "in": "path",
                        "description": "personId особи",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/region_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/personResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "500": {
                        "description": "Try later/Count is too many"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/person-sanctions": {
            "get": {
                "tags": [
                    "Санкції"
                ],
                "summary": "Отримання інформації про санкції людини",
                "description": "Отримання інформації щодо санкцій стосовно фізичних осіб за ПІБ або кодом",
                "operationId": "getPersonSanctions",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "API ключ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "searchKeys",
                        "in": "query",
                        "description": "Поля для пошуку (name або code)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "name,code"
                    },
                    {
                        "name": "searchQuery",
                        "in": "query",
                        "description": "Пошуковий запит, наприклад, ім'я особи або код",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Konovalenko Artem"
                    },
                    {
                        "name": "sanctionList",
                        "in": "query",
                        "description": "Список санкцій (РНБО, Санкційний список ЄС, Санкційний список Великобританії, Санкційний список Канади, Санкційний список США (Non-SDN), Санкційний список США (SDN))",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "РНБО,Санкційний список ЄС,Санкційний список Великобританії"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Кількість записів",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "10"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Зміщення відносно початку результатів пошуку",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "10"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Успішна операція",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "description": "Статус операції",
                                            "type": "string",
                                            "example": "ok"
                                        },
                                        "count": {
                                            "description": "Кількість записів",
                                            "type": "integer",
                                            "example": 2
                                        },
                                        "data": {
                                            "description": "Дані про особу та санкції",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "actionType": {
                                                        "description": "Тип дії снакції",
                                                        "type": "string",
                                                        "example": "apply"
                                                    },
                                                    "code": {
                                                        "description": "Код платника податків",
                                                        "type": "string",
                                                        "example": "2210514692"
                                                    },
                                                    "decree": {
                                                        "description": "Номер указу санкції",
                                                        "type": "string",
                                                        "example": "64/2021"
                                                    },
                                                    "name": {
                                                        "description": "ПІБ особи",
                                                        "type": "string",
                                                        "example": "Медведчук Віктор Володимирович"
                                                    },
                                                    "sanctionList": {
                                                        "description": "Список санкцій",
                                                        "type": "string",
                                                        "example": "РНБО"
                                                    },
                                                    "affectedDecree": {
                                                        "description": "54/2021",
                                                        "type": "string",
                                                        "example": "Прилеглий указ"
                                                    },
                                                    "affectedDecreeDate": {
                                                        "description": "2021-02-19",
                                                        "type": "string",
                                                        "example": "Дата прилеглого указу"
                                                    },
                                                    "birthDate": {
                                                        "description": "Дата народження",
                                                        "type": "string",
                                                        "example": "1984-09-22"
                                                    },
                                                    "citizenship": {
                                                        "description": "Громадянство",
                                                        "type": "string",
                                                        "example": "RU, UA"
                                                    },
                                                    "endDate": {
                                                        "description": "Дата завершення санкцій",
                                                        "type": "string",
                                                        "example": "2034-10-08"
                                                    },
                                                    "resident": {
                                                        "description": "Чи є особа резидентом",
                                                        "type": "boolean",
                                                        "example": "true"
                                                    },
                                                    "sanctionDetails": {
                                                        "description": "Деталі санкцій",
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "code": {
                                                                    "description": "Код санкції",
                                                                    "type": "string",
                                                                    "example": "1"
                                                                },
                                                                "text": {
                                                                    "description": "Опис санкції",
                                                                    "type": "string",
                                                                    "example": "блокування активів"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "sanctionReason": {
                                                        "description": "Підстава для санкцій",
                                                        "type": "string",
                                                        "example": "Указ Президента України № 698/2024"
                                                    },
                                                    "startDate": {
                                                        "description": "Дата початку санкцій",
                                                        "type": "string",
                                                        "example": "2024-10-08"
                                                    },
                                                    "termless": {
                                                        "description": "Чи є санкція безстроковою",
                                                        "type": "boolean",
                                                        "example": "false"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "API ключ не вказаний"
                    },
                    "500": {
                        "description": "Помилка сервера або забагато запитів"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/registered-cars/{code}": {
            "get": {
                "tags": [
                    "Інформація про авто"
                ],
                "summary": "Інформація про авто у власності",
                "description": "Отримання інформації про авто у власності",
                "operationId": "registered-cars",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "code",
                        "in": "path",
                        "description": "код ІПН / код ЄДРПОУ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/registered_cars_success"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "500": {
                        "description": "Try later/Count is too many"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/schema/{code}": {
            "get": {
                "tags": [
                    "Структура"
                ],
                "summary": "Структура компанії",
                "description": "Отримати структуру за кодом компанії",
                "operationId": "getSchema",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Код компанії",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/schemaResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "500": {
                        "description": "Try later/Count is too many"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
[...]
